<!DOCTYPE html>
<html lang="en">
<head>
    <title>students</title>
</head>
<body>
    <h1>students list</h1>
    <h><a href="/">Add students</a><br/></h>
    <table border="1" width="100%">
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>email</th>
            <th>Mobile No.</th>
            <th>Actions</th>
        </tr>
        <% if(students.length > 0){  %>
            <% for(var i= 0;i<students.length;i++){%>
                <tr>
                    <td><%- students[i].id %></td>
                    <td><%- students[i].name %></td>
                    <td><%- students[i].email %></td>
                    <td><%- students[i].mno %></td>
                    <td>
                        <a href="delete-student?id=<%- students[i].id %> "> Delete</a>
                        <a href="update-student?id=<%- students[i].id %> "> Update</a>
                    </td>
                </tr>
            <% } %>
           

        <% }else{ %> 
            <h1>Data not found</h1>
        <% } %>

    </table>
    
</body>
</html>